---
const items = [
  {
    text: "Quickstart",
    link: "en/quickstart",
  },
  {
    text: "Introduction",
    children: [
      {
        text: "What is backframe",
        link: "en/intro/what-is-backframe",
      },
      {
        text: "Why?",
        link: "en/intro/why",
      },
    ],
  },
  {
    text: "Getting started",
    children: [
      {
        text: "Creating a new app",
        link: "en/getting-started/new-app",
      },
      {
        text: "App structure overview",
        link: "en/getting-started/structure-overview",
      },
      {
        text: "Next steps",
        link: "en/getting-started/next-steps",
      },
    ],
  },
  {
    text: "App structure",
    children: [
      {
        text: ".bf",
        icon: "Some Icon",
        link: "en/app-structure/.bf",
      },
      {
        text: "routes",
        icon: "folder",
        link: "en/app-structure/routes",
      },
      {
        text: "static",
        icon: "folder",
        link: "en/app-structure/static",
      },
      {
        text: "views",
        icon: "folder",
        link: "en/app-structure/views",
      },
      {
        text: "bf.config.js",
        icon: "file",
        link: "en/app-structure/bf-config",
      },
    ],
  },
  {
    text: "API Reference",
    children: [
      {
        text: "@backframe/core",
        link: "en/api/bf-core",
      },
      {
        text: "@backframe/cli",
        link: "en/api/bf-cli",
      },
      {
        text: "@backframe/rest",
        link: "en/api/bf-rest",
      },
      {
        text: "@backframe/auth",
        link: "en/api/bf-auth",
      },
      {
        text: "@backframe/gql",
        link: "en/api/bf-gql",
      },
      {
        text: "@backframe/rpc",
        link: "en/api/bf-rpc",
      },
    ],
  },
];
---

<ul class="flex flex-col gap-3 text-zinc-300">
  {
    items.map((item) => {
      if (item.link) {
        return (
          <li>
            <a href={item.link}>{item.text}</a>
          </li>
        );
      } else {
        return (
          <li>
            <span>{item.text}</span>
            <ul class="pl-4 flex flex-col gap-3 my-3 border-l border-gray-700/80">
              {item.children?.map((ch) => {
                return (
                  <li>
                    <a href={ch.link}>{ch.text}</a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      }
    })
  }
</ul>
